@use 'typography';
@use 'screen-breakpoints' as sb;

:host {
  display: block;
  margin: 1rem 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h4 {
      @extend %heading-300;
    }

    a {
      @extend %body-short-01;
      margin-bottom: 0.5rem;
    }
  }

  .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.875rem;

    @include sb.bp-1100w {
      overflow-x: scroll;
      padding-bottom: 1rem;

      ec-product-item {
        min-width: 24ch;
      }
    }

    @include sb.bp-600w {
      display: flex;
      overflow-x: initial;
      flex-wrap: wrap;
      // grid-template-columns: repeat(1, 1fr);

      ec-product-item {
        margin-bottom: 1rem;
        min-width: initial;
        --img-size: 85%;
      }
    }
  }
}
