@use 'typography';
@use 'screen-breakpoints' as sb;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .title {
    @extend %heading-100;

    span {
      background: var(--gradient-magenta-to-light-purple);
      -webkit-background-clip: text;
      background-size: 110% 100%;
      background-clip: text;
      color: transparent;
    }
  }

  .subtitle {
    @extend %heading-400;
    color: var(--color-quaternary);
  }

  .msgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    margin-top: 2rem;

    @include sb.bp-600w {
      grid-template-columns: repeat(2, 1fr);
    }

    button {
      @extend %body-short-01;
      display: flex;
      text-align: left;
      background-color: transparent;
      border: 1px solid var(--color-senary);
      border-radius: 0.25rem;
      padding: 0.75rem;
      transition: border-color 300ms ease;

      &:hover {
        border-color: var(--color-french-violet);
      }
    }
  }
}
