<ngx-modal-content [controller]="ctrl">
  <ng-container title>Delete the chat?</ng-container>
  <ng-container content>
    <p>
      Are you sure you want to delete <strong>{{ data.chat.name }}</strong
      >?
    </p>
    <div class="options">
      <button ngx-button btnType="danger" (click)="ctrl.close(true)">
        Yes, delete it
      </button>
      <button ngx-button btnType="secondary" (click)="ctrl.close(false)">
        No
      </button>
    </div>
  </ng-container>
</ngx-modal-content>
