//wombat-dressing-room.appspot.com/firebase-frameworks/_ns:_authToken=:_authToken=${FIREBASE_FRAMEWORKS_NPM_TOKEN}
//wombat-dressing-room.appspot.com/@apphosting/adapter-nextjs/_ns:_authToken=:_authToken=${ADAPTER_NEXTJS_NPM_TOKEN}