/packages/@apphosting/adapter-*/ @Yuangwang @sjjj986
/packages/@apphosting/build/ @jamesdaniels @leoortizz
/packages/@apphosting/create/ @jamesdaniels @leoortizz
/packages/@apphosting/discover/ @jamesdaniels @leoortizz
/packages/firebase-frameworks/ @jamesdaniels @leoortizz
