@use 'typography';

:host {
  display: block;

  footer {
    @extend %body-short-03;
    color: var(--color-quaternary);
    white-space: nowrap;

    p:first-of-type {
      margin-bottom: 0.5rem;
    }

    ngx-icon {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
