<section class="search">
  <div class="bg">
    <!-- We are not using CSS since the BG is the LCP and we want to prioritize its fetching -->
    <img
      class="bg-img"
      src="gradient.jpg"
      fetchpriority="high"
      draggable="false"
      alt="Background"
    />
  </div>
  <div class="content">
    <h2>Welcome to the Angular Store</h2>
    <h3>An Ecommerce Angular template</h3>
    <ec-autocomplete-product-search />
  </div>
</section>
<div class="spacer"></div>
@for (category of categories(); track category.id; let i = $index) {
  <ec-category-reel [category]="category" [isLcp]="i === 0" />
}
