:host {
  display: block;

  .ate-textarea {
    padding: 2.5rem 2rem;
    height: 100%;
    min-height: 40vh;
    max-height: 65vh;
    overflow: auto;

    &:focus {
      outline: none;
    }
  }
}
