@use 'typography';
@use 'theme-mixins' as tm;

.card-container {
  @extend %body-short-01;
  background-color: var(--color-senary);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: block;

  &:hover {
    border-color: var(--color-quinary);
    background-color: color-mix(
      in srgb,
      var(--color-quinary) 50%,
      var(--color-senary) 50%
    );
  }
}

@include tm.if-light-theme {
  :host {
    .card-container {
      background-color: var(--color-octonary);
      border-color: var(--color-quinary);

      &:hover {
        background-color: var(--white);
        border-color: var(--color-electric-lavander);
      }
    }
  }
}
