$list-width: 275px;
$list-padding: 8px;
$list-name-input-width: $list-width * 0.62; /* This is needed only because of Firefox */
$card-max-width: $list-width - 2 * $list-padding - 2px; /* 2px for the borders */
$list-border-radius: 0.2rem;

/* This represents the absolute height of the header */
$header-height: 56px;
$main-content-margin-top: 1rem;
$list-height: calc(100vh - $header-height - $main-content-margin-top);
