:host {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;

  picture,
  img {
    width: 100%;
    height: 100%;
  }

  ngx-icon {
    color: var(--color-quaternary);
  }
}
