:host {
  display: block;

  button {
    display: block;
    padding: 0.75rem;
    white-space: nowrap;
    background-color: transparent;
    transition: background-color 200ms ease;
    width: 100%;
    text-align: left;
    border: none;

    &:not(:disabled):hover {
      background-color: var(--color-senary);
    }
  }

  hr {
    margin: 0;
    background: var(--color-septenary);
  }
}
