<ngx-select
  [(selected)]="textStyle"
  (selectedChange)="changeTextStyle($event)"
  [disabled]="!isTextSelected()"
  ateFormatCtrl
  placeholder="Aa"
  title="Text style"
>
  <ngx-select-option ateFormatCtrl value="heading">
    <span class="heading">Heading</span>
  </ngx-select-option>
  <ngx-select-option ateFormatCtrl value="body">
    <span class="body">Body</span>
  </ngx-select-option>
  <ngx-select-option ateFormatCtrl value="monospaced">
    <span class="mono">Monospaced</span>
  </ngx-select-option>
</ngx-select>
<fieldset [disabled]="!isTextSelected()">
  <button
    class="bold"
    title="Bold"
    ateFormatCtrl
    (click)="format.emit({ command: 'bold' })"
  >
    B
  </button>
  <button
    class="italic"
    title="Italic"
    ateFormatCtrl
    (click)="format.emit({ command: 'italic' })"
  >
    I
  </button>
  <button
    class="underlined"
    title="Underlined"
    ateFormatCtrl
    (click)="format.emit({ command: 'underlined' })"
  >
    U
  </button>
  <button
    title="Hyperlink"
    ateFormatCtrl
    (click)="format.emit({ command: 'hyperlink' })"
  >
    <ngx-icon name="Link" size="md" />
  </button>
</fieldset>
