:host {
  input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    justify-content: flex-end;
  }

  button {
    min-width: 64px;

    &:first-of-type {
      margin-right: 0.5rem;
    }
  }
}
