@use 'theme-mixins' as tm;

:host {
  user-select: none;

  svg {
    width: 100%;
    height: 100%;

    g {
      transform: translateY(-5px);

      .sector {
        fill: none;
        transition: filter 300ms ease;

        &:hover {
          filter: brightness(135%);
          cursor: pointer;
        }
      }

      text {
        text-anchor: middle;
        fill: var(--color-tertiary);
        font-size: 0.75rem;
      }
    }
  }
}

@include tm.if-light-theme {
  :host {
    .sector:hover {
      filter: brightness(115%);
    }
  }
}
