@use 'theme-mixins' as tm;

:host {
  user-select: none;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible;

    .label {
      text-anchor: middle;
      fill: var(--color-tertiary);
      font-size: 0.75rem;
    }

    rect {
      transition: filter 300ms ease;
      cursor: pointer;

      &:hover {
        filter: brightness(135%);
      }
    }
  }
}

@include tm.if-light-theme {
  :host {
    rect:hover {
      filter: brightness(115%);
    }
  }
}
