<div class="row user">
  <div class="vis" title="User">
    <ngx-icon name="Face" size="xlg" />
  </div>
  <p class="msg" [class.animated]="!query().response">
    {{ query().message }}
  </p>
</div>
<div class="row bot">
  <div class="vis" title="Chatbot">
    <ngx-icon name="SmartToy" size="xlg" />
  </div>
  @if (query().response) {
    <p
      class="msg acb-chat-msg"
      [class.animated]="isNew()"
      [innerHTML]="query().response | safeHtml"
    ></p>
  } @else {
    <acb-query-skeleton class="msg" [lines]="2" [linesOnly]="true" />
  }
</div>
